<div class="container-fluid">
  <form action="" method="">
    <div class="row">
      <div class="col-xs-12" style="height: 10em; border-bottom: 2px solid black;">
          <img class="col-xs-6" src="../{{user.Profile.image}}" style="height: 12em; width: 12em; border: 2px solid black; margin-top: 2em; margin-left: 7em; padding:0;">
          <div class="col-xs-6" style="margin-top: 3em; padding-bottom: 10em;">
            <h2><input name="user[profile][fname]"type="text" value="{{user.Profile.fname}}"> <input name="user[profile][lname]" type="text" value="{{user.Profile.lname}}"></h2>
            <h4><input name="user[profile][age]" type="text" value="{{user.Profile.age}}"> years old, lives in "<input name="user[profile][locationCity]" type="text" value="{{user.Profile.locationCity}}">"</h4>
          </div>
      </div>
    </div>
    <div class="row" style="padding-top: 5em;">
      <div class="col-xs-8 col-sm-offset-1">
        <h4>About Me</h4>
        <p><textarea name="user[profile][aboutMe]" rows="10" cols="70"> {{user.Profile.aboutMe}}</textarea></p>
        <h4>Talents</h4>
        <p><textarea name="user[profile][talents]" rows="10" cols="70"> {{user.Profile.talents}}</textarea></p>
        <h4>Favorite Things</h4>
        <p><textarea name="user[profile][favoriteThings]" rows="10" cols="70"> {{user.Profile.favoriteThings}}</textarea></p>
        <h4>Why You Should Message Me</h4>
        <p><textarea name="user[profile][messageMe]" rows="10" cols="70"> {{user.Profile.messageMe}}</textarea></p>
        <a href="#"><button class="btn btn-default btn-success">Save Changes</button></a>
      </div>
      <div class="col-xs-2">
        <h4>Basic Info</h4>
        <div style="border: 2px solid black">
          <h5><input name="user[profile][gender]" type="text" value="{{user.Profile.gender}}"><h5>
          <h5><input name="user[profile][status]" type="text" value="{{user.Profile.status}}"><h5>
          <h5><input name="user[profile][height]" type="text" value="{{user.Profile.height}}"> height in inches<h5>
          <h5><input name="user[profile][bodyType]" type="text" value="{{user.Profile.bodyType}}"><h5>
          <h5><input name="user[profile][kids]" type="text" value="{{user.Profile.kids}}"># of Kids<h5>
          <h5><input name="user[profile][occupation]" type="text" value="{{user.Profile.occupation}}"><h5>
        </div>
      </div>
    </div>
</form>
</div>
